:root,
body, main, section {
    height: 100%;
    width: 100%;
    margin: 0px;
}
.taskerSecHeadCls {
    width: 100%;
    height: 100%;
}
.taskerAddTaskSecCls {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
}
.inputfieldTaskerCls {
    flex: 30%;
    display: flex;
    flex-direction: column;
}
.taskerSpecFuncSecCls {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.taskerSpecFuncTaskerCls input[type="file"], .inputfieldTaskerRadioOptCls input[type="radio"] {
    display: none;
}
.inputfieldTaskerRadioHeadOptCls {
    display: flex;
    flex-direction: row;
}
.taskerInputParentCls {
    padding: 15px;
    background-color: #3be500;
    border-bottom: 2px solid #00a000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 4px 4px 7px 2px #026102;
}
.taskerSecHeadCls {
    background-color: bisque;
    display: flex;
    flex-direction: column;
}
.taskerDisplayTaskParentCls {
    padding: 35px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}
.taskTitleCls p {
    margin: 0px;
}
.taskDisItemParentCls {
    width: 100%;
}
.todoTaskHeadCls {
    display: flex;
    flex: 30%;
    height: fit-content;
    gap: 10px;
    align-items: center;
    border-radius: 15px;
    padding: 2px 2px 2px 10px;
    box-shadow: 0px 0px 10px 1px #440d59;
    margin-top: 30px;
}
.todoIntenseTaskComLogo {
    content: "";
    display: block;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 60px;
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
}
.todoStudyThemeLogoCls {
    background-image: url(../src/assets/studyTaskLogo.png);
}
.todoClockThemeLogoCls {
    background-image: url(../src/assets/clockTaskLogo.png);
}
.todoDangerThemeLogoCls {
    background-image: url(../src/assets/DangerTaskLogo.png);
}
.todoHorrorThemeLogoCls {
    background-image: url(../src/assets/horrorTaskLogo.png);
}
.todoRobotThemeLogoCls {
    background-image: url(../src/assets/roboTaskTheme.png);
}
.todoForestThemeLogoCls {
    background-image: url(../src/assets/forstTaskTheme.png);
} 
.todoSunshineThemeLogoCls {
    background-image: url(../src/assets/SunshineLogo.png);
}
.todoTaskerStudyThemeHeadCls {
    background-color: #cb55f8;
}
.todoStudyThemeCls {
    border: 4px solid #cb55f8;
    background-color: #cb55f8;
    box-shadow: inset 1px 1px 10px #440d59;
    border-radius: 15px;
    padding: 10px;
}
.todoTaskerClockThemeHeadCls {
    background-color: #f5d339;
}
.todoClockThemeCls {
    border: 4px solid #f5d339;
    background-color: #f5d339;
    box-shadow: inset 1px 1px 10px #766205;
    border-radius: 15px;
    padding: 10px;
}
.todoTaskerDangerThemeHeadCls {
    background-color: #f5836f;
}
.todoDangerThemeCls {
    border: 4px solid #f5836f;
    background-color: #f5836f;
    box-shadow: inset 1px 1px 10px #891400;
    border-radius: 15px;
    padding: 10px;
}
.todoTaskerHorrorThemeHeadCls {
    background-color: #818181;
}
.todoHorrorThemeCls {
    border: 4px solid #818181;
    background-color: #818181;
    box-shadow: inset 1px 1px 10px #272727;
    border-radius: 15px;
    padding: 10px;
}
.todoTaskerRobotThemeHeadCls {
    background-color: #00f3d6;
}
.todoRobotThemeCls {
    border: 4px solid #00f3d6;
    background-color: #00f3d6;
    box-shadow: inset 1px 1px 10px #005349;
    border-radius: 15px;
    padding: 10px;
}
.todoTaskerForestThemeHeadCls {
    background-color: #81ff87;
}
.todoForestThemeCls {
    border: 4px solid #81ff87;
    background-color: #81ff87;
    box-shadow: inset 1px 1px 10px #005d04;
    border-radius: 15px;
    padding: 10px;
}
.todoTaskerSunshineThemeHeadCls {
    background-color: #7fcfff;
}
.todoSunshineThemeCls {
    border: 4px solid #7fcfff;
    background-color: #7fcfff;
    box-shadow: inset 1px 1px 10px #003b5e;
    border-radius: 15px;
    padding: 10px;
}
.todoTaskerUrgentIntenseHeadCls, .todoTaskerLowIntenseHeadCls, .todoTaskerHighIntenseHeadCls, .todoTaskerMediumIntenseHeadCls {
    position: relative;
}
.todoTaskerLowIntenseHeadCls::before {
    width: 40px;
    height: 25px;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    background-color: #b2ff65;
    content: " ";
    display: block;
    position: absolute;
    box-shadow: inset 0px 0px 9px 4px #376f00;
    top: -35px;
    right: 20px;
    content: " ";
    background-image: url(../src/assets/lowIntenseLogo.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center center;
}
.todoTaskerUrgentIntenseHeadCls::before {
    width: 40px;
    height: 25px;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    background-color: #ff4242;
    content: " ";
    display: block;
    position: absolute;
    box-shadow: inset 0px 0px 9px 4px #a70000;
    top: -35px;
    right: 20px;
    content: " ";
    background-image: url(../src/assets/urgentIntenseLogo.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center center;
}
.todoTaskerHighIntenseHeadCls::before {
    width: 40px;
    height: 25px;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    background-color: #ff8a00;
    content: " ";
    display: block;
    position: absolute;
    box-shadow: inset 0px 0px 9px 4px #a75a00;
    top: -35px;
    right: 20px;
    content: " ";
    background-image: url(../src/assets/highIntenseLogo.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center center;
}
.todoTaskerMediumIntenseHeadCls::before {
    width: 40px;
    height: 25px;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    background-color: #98deff;
    content: " ";
    display: block;
    position: absolute;
    box-shadow: inset 0px 0px 9px 4px #005a85;
    top: -35px;
    right: 20px;
    content: " ";
    background-image: url(../src/assets/mediumIntenseLogo.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center center;
}